@{
    ViewBag.Title = "Index";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Starter Template for Bootstrap</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
</head>

<body style=" padding-top: 50px;">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact <span class="badge">43</span></a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
          <div class="btn-group">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">关于我们<span class="caret"></span></button>
    <ul class="dropdown-menu">
    	<li><a href="##">公司简介</a></li>
    	<li><a href="##">企业文化</a></li>
    	<li><a href="##">组织结构</a></li>
    	<li><a href="##">客服服务</a></li>
    </ul>
  </div>
        <div class="dropdown">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Click me
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown-header">1</li>
                <li>1-1</li>
                <li class="divider"></li>
                <li class="dropdown-header">2</li>
                <li>2-1</li>
                <li>2-2</li>
            </ul>
        </div>
        <div class="starter-template">
            <div class="h1">Bootstrap starter template</div>
            <p class="lead">
                Use this document as a way to quickly start any new project.<br>
                All you get is this text and a mostly barebones HTML document.
            </p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-5">5</div>
                    <div class="col-md-7">7</div>
                </div>
            </div>
            <div class="col-md-8">8</div>
        </div>
        <div class="row">
            <div class="col-md-2">2</div>
            <div class="col-md-10">10</div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-push-8">.col-md-4</div>
            <div class="col-md-8 col-md-pull-4">.col-md-8</div>
        </div>
    </div>
    <!-- /.container -->
    <div class="panel panel-default">
    <div class="panel-heading">图解CSS3</div>
	<div class="panel-body">详细讲解了选择器、边框、背景、文本、颜色、盒模型、伸缩布局盒模型、多列布局、渐变、过渡、动画、媒体、响应Web设计、Web字体等主题下涵盖的所有CSS3新特性</div>
	<div class="panel-footer">作者：大漠</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">图解CSS3</div>
	<div class="panel-body ">详细讲解了选择器、边框、背景、文本、颜色、盒模型、伸缩布局盒模型、多列布局、渐变、过渡、动画、媒体、响应Web设计、Web字体等主题下涵盖的所有CSS3新特性</div>
	<div class="panel-footer">作者：大漠</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">图解CSS3</div>
	<div class="panel-body">详细讲解了选择器、边框、背景、文本、颜色、盒模型、伸缩布局盒模型、多列布局、渐变、过渡、动画、媒体、响应Web设计、Web字体等主题下涵盖的所有CSS3新特性</div>
	<div class="panel-footer">作者：大漠</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">图解CSS3</div>
	<div class="panel-body">详细讲解了选择器、边框、背景、文本、颜色、盒模型、伸缩布局盒模型、多列布局、渐变、过渡、动画、媒体、响应Web设计、Web字体等主题下涵盖的所有CSS3新特性</div>
	<div class="panel-footer">作者：大漠</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">图解CSS3</div>
	<div class="panel-body">详细讲解了选择器、边框、背景、文本、颜色、盒模型、伸缩布局盒模型、多列布局、渐变、过渡、动画、媒体、响应Web设计、Web字体等主题下涵盖的所有CSS3新特性</div>
	<div class="panel-footer">作者：大漠</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">图解CSS3</div>
	<div class="panel-body">详细讲解了选择器、边框、背景、文本、颜色、盒模型、伸缩布局盒模型、多列布局、渐变、过渡、动画、媒体、响应Web设计、Web字体等主题下涵盖的所有CSS3新特性</div>
	<div class="panel-footer">作者：大漠</div>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>

