@{
    ViewBag.Title = "MenuList";
}
@section css{
    <link href="~/Scripts/ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <link href="~/Scripts/iCheck/skins/flat/red.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/ztree/js/jquery.ztree.all-3.5.min.js"></script>
    <script src="~/Scripts/iCheck/icheck.min.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/lhgdialog/lhgdialog.min.js?skin=jtop"></script>
    <script src="~/Scripts/lhgdialog/lhgdialogPlus.js"></script>
    <script type="text/javascript">
        var treeObj;
        var enableSavebtn = false;
        $(function () {
            var callback = function (data) {
                var options = {
                    view: {
                        showIcon: false
                    },
                    data: {
                        simpleData: {
                            enable: true,
                            idKey: "id",
                            pIdKey: "pid"
                        }
                    },
                    callback: {
                        onClick: function (event, treeId, treeNode) {
                            $("#btn-save").attr("data-id", treeNode.id);
                            $("#menu-name").val(treeNode.name);
                            $("#menu-url").val(treeNode.link);
                            $("#menu-sort").val(treeNode.sort);
                            $("#menu-status").iCheck(treeNode.status ? "check" : "uncheck");
                            $("#menuparentname").attr("data-val", treeNode.pid).html(treeNode.fullpname.replace(/,/g, ' <i class="fa fa-caret-right"></i>'));
                            if (!enableSavebtn) {
                                $("#btn-save").removeAttr("disabled");
                            }
                            return false;
                        }
                    }
                }

                treeObj = $.fn.zTree.init($("#menutree"), options, data.items);
                treeObj.expandAll(true);

            }
            tools.postData('{dns}api/menu/list', null, callback, "#container");
            $('#menu-status').iCheck({
                checkboxClass: 'icheckbox_flat-red top6px',
                radioClass: 'iradio_flat-red'
            }).iCheck("check");

            $(".btn").click(function () {
                if (tools.valicate()) {
                    var postContent = {};
                    postContent.M_ID = $(this).attr("data-id");
                    postContent.M_Name = $("#menu-name").val();
                    postContent.M_Url = $("#menu-url").val();
                    postContent.M_ParentID = $("#menuparentname").attr("data-val");
                    postContent.M_OrderIndex = $("#menu-sort").val();
                    postContent.M_Status = $("#menu-status").prop("checked") ? 1 : 0;
                    tools.postData($("#menu-data").attr("action"), postContent, function (data) {
                        if (data.success) {
                            winAlert(data.message, true, true, "this", 3);
                        }
                        else {
                            winAlert(data.message);
                        }
                    }, "#menu-data")
                }
                return false;
            });
        });
        function setMenu(fullmenu, id) {
            $("#menuparentname").attr("data-val", id).html(fullmenu.join(' <i class="fa fa-caret-right"></i> '));
        }
    </script>
}

<div class="col-xs-12" id="container">
    <div class="col-xs-3" style=" height: 353px; overflow-y: auto; ">
        <div class="page-header">
            <h1>
                菜单列表
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                </small>
            </h1>
        </div>
        <div>
            <ul id="menutree" class="ztree "></ul>
        </div>
    </div>
    <div class="col-xs-5">
        <form class="form-horizontal" id="menu-data" action="{dns}api/menu/update" method="post">
            <div class="form-group">
                <div class="page-header">
                    <h1>
                        菜单明细
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                        </small>
                    </h1>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right" for="menu-name">菜单名称 </label>
                <div class="col-sm-10">
                    <input type="text" id="menu-name" placeholder="请输入菜单名称" class="col-xs-6 required" data-required-msg="请输入菜单名称！" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">上级菜单 </label>
                <div class="col-sm-10 top6px">
                    <span id="menuparentname" data-valicate-field="data-val" data-val="0"> 顶级菜单 </span>
                    <a href="javascript:;" data-rel="popup" data-title="选择上级菜单" data-width="350px" data-content="url:{dns}Basic/MenuSelect/">
                        <i class="fa fa-pencil-square-o bigger-150 top3px green"></i>
                        重选
                    </a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right" for="menu-url">链接地址 </label>
                <div class="col-sm-10">
                    <input type="text" id="menu-url" placeholder="请输入菜单名称" class="col-xs-6 required" data-required-msg="请输入链接地址！" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right" for="menu-sort">排序 </label>
                <div class="col-sm-2">
                    <input type="text" id="menu-sort" placeholder="排序号码" class="col-xs-12 required" data-required-msg="请输入排序！" value="">
                </div>
                <label class="col-sm-2 control-label no-padding-right" for="menu-status">有效 </label>
                <div class="col-sm-6 ">
                    <input id="menu-status" type="checkbox" />
                </div>
            </div>
            <div class="clearfix form-actions">
                <div class=" col-md-12" style="text-align: center;">
                    <button class="btn btn-info" data-id="0" type="button" id="btn-add">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        新增
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" data-id="0" type="button" id="btn-save" disabled="disabled">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        保存
                    </button>
                </div>
            </div>
        </form>

    </div>
    <div class="col-xs-4 spilt"></div>
</div>
