@{
    ViewBag.Title = "ArticleList";
}
@model List<Henry.Entity.Article>

<div class="newcontainer" id="page_course_learn">
    <div class="course_nav clearfix">
        <div class="blog-title" id="page_header">
            <a href="@Request.UrlReferrer " class="back-btn">&lt;</a>
            <h1> 玩转Bootstrap（基础）</h1>
        </div>
        <div class="blog-study">
            <a href="/view/141" class="picture"><img src="http://img.mukewang.com/53c72b3a00014fe906000338.jpg" width="280" height="160"></a>
            <ul class="info">
                <li>
                    <div class="info_num">
                        <i>
                            28461
                        </i>
                    </div>
                    <div class="info_title">阅读总人数</div>
                </li>
                <li>
                    <div class="info_num"><i class="ft-adjust">系列简介</i></div>
                    <div class="info_title">系列简介系列简介系列简介系列简介系列简介系列简介系列简介系列简介
                        系列简介系列简介系列简介系列简介系列简介系列简介系列简介
                    </div>
                </li>
                <li>
                    <div >
                        系列简介系列简介系列简介系列简介系列简介系列简介系列简介系列简介
                        系列简介系列简介系列简介系列简介系列简介系列简介系列简介
                    </div>
                </li>
            </ul>

        </div>
    </div>


    <div class="course_content">
        <div class="content_area">
            <ul class="blog-menu clearfix">
                <li><a class="ui-tabs-active" id="learnOn" href="/learn/141"><span>章节</span></a></li>
                <li><a id="commentOn" href="/comment/141"><span>评论</span></a></li>
                <li><a id="qaOn" href="/qa/141"><span>问答</span></a></li>
                <li><a id="noteOn" href="/note/141"><span>笔记</span></a></li>
                <li><a id="wikiOn" href="/wiki/141">WIKI</a></li>
            </ul>

            <div class="course_chapter_list">
                <div class="learnchapter  learnchapter-active ">
                    <h3>
                        <span>-</span>
                        <strong><i class="hasOpenOn"></i>第1章 Bootstrap简介</strong>
                    </h3>

                    <ul class="video">

                        <li>
                            <a target="_blank" href="/video/3399" class="studyvideo">
                                1-1 Bootstrap简介 (02:00)
                                <i></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2791" class="programme">
                                1-2 Bootstrap到底是什么？                                <i></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/video/3400" class="studyvideo">
                                1-3 如何开始使用Bootstrap (05:13)
                                <i class="doStudy"></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2322" class="programme">1-4 基本的HTML模板                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2323" class="programme">1-5 全局样式                                <i class="hasStudy"></i>                            </a>
                        </li>
                    </ul>
                </div>
                <div class="learnchapter  learnchapter-active ">
                    <h3>
                        <span>-</span>
                        <strong><i class="hasOpenOn"></i>第2章 排版</strong>
                    </h3>

                    <ul class="video">

                        <li>
                            <a target="_blank" href="/code/2268" class="programme">2-1 标题（一）                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2274" class="programme">2-2 标题（二）                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2275" class="programme">2-3 段落（正文文本）                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2276" class="programme">2-4 强调内容                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2277" class="programme">2-5 粗体                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2278" class="programme">2-6 斜体                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2279" class="programme">2-7 强调相关的类                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2280" class="programme">2-8 文本对齐风格                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2281" class="programme">2-9 列表--简介                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2282" class="programme">2-10 列表--无序列表、有序列表                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2284" class="programme">2-11 列表--去点列表                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2285" class="programme">2-12 列表--内联列表                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2286" class="programme">2-13 列表--定义列表                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2287" class="programme">2-14 列表--水平定义列表                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2288" class="programme">2-15 代码（一）                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2289" class="programme">2-16 代码（二）                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2290" class="programme">2-17 表格                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2294" class="programme">2-18 表格--表格行的类                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2296" class="programme">2-19 表格--基础表格                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2299" class="programme">2-20 表格--斑马线表格                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2301" class="programme">2-21 表格--带边框的表格                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2305" class="programme">2-22 表格--鼠标悬浮高亮的表格                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2308" class="programme">2-23 表格--紧凑型表格                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2310" class="programme">2-24 表格--响应式表格                                <i class="hasStudy"></i>                            </a>
                        </li>
                    </ul>
                </div>
                <div class="learnchapter  learnchapter-active ">
                    <h3>
                        <span>-</span>
                        <strong><i class="hasOpenOn"></i>第3章 表单</strong>
                    </h3>

                    <ul class="video">

                        <li>
                            <a target="_blank" href="/code/2341" class="programme">3-1 基础表单                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2343" class="programme">3-2 水平表单                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2344" class="programme">3-3 内联表单                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2345" class="programme">3-4 表单控件(输入框input)                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2346" class="programme">3-5 表单控件(下拉选择框select)                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2347" class="programme">3-6 表单控件(文本域textarea)                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2348" class="programme">3-7 表单控件(复选框checkbox和单选择按钮radio)                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2683" class="programme">3-8 表单控件(复选框和单选按钮水平排列)                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2355" class="programme">3-9 表单控件(按钮)                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2356" class="programme">3-10 表单控件大小                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2359" class="programme">3-11 表单控件状态(焦点状态)                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2361" class="programme">3-12 表单控件状态(禁用状态)                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2362" class="programme">3-13 表单控件状态(验证状态)                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2363" class="programme">3-14 表单提示信息                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2364" class="programme">3-15 按钮                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2365" class="programme">3-16 基本按钮                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2366" class="programme">3-17 默认按钮                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2367" class="programme">3-18 多标签支持                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2370" class="programme">3-19 定制风格                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2372" class="programme">3-20 按钮大小                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2373" class="programme">3-21 块状按钮                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2375" class="programme">3-22 按钮状态——活动状态                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2376" class="programme">3-23 按钮状态——禁用状态                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2377" class="programme">3-24 图像                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2378" class="programme">3-25 图标（一）                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2804" class="programme">3-26 图标（二）                                <i class="hasStudy"></i>                            </a>
                        </li>
                    </ul>
                </div>
                <div class="learnchapter  learnchapter-active ">
                    <h3>
                        <span>-</span>
                        <strong><i class="hasOpenOn"></i>第4章 网格系统</strong>
                    </h3>

                    <ul class="video">

                        <li>
                            <a target="_blank" href="/code/2324" class="programme">4-1 实现原理                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2325" class="programme">4-2 工作原理                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2326" class="programme">4-3 基本用法                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2327" class="programme">4-4 列偏移                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3323" class="programme">4-6 列排序                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2329" class="programme">4-7 列的嵌套                                <i class="hasStudy"></i>                            </a>
                        </li>
                    </ul>
                </div>
                <div class="learnchapter  learnchapter-active ">
                    <h3>
                        <span>-</span>
                        <strong><i class="hasOpenOn"></i>第5章 菜单、按钮及导航</strong>
                    </h3>

                    <ul class="video">

                        <li>
                            <a target="_blank" href="/code/2881" class="programme">5-1 下拉菜单（基本用法）                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2903" class="programme">5-2 下拉菜单（原理分析）                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2916" class="programme">5-3 下拉菜单（下拉分隔线）                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2919" class="programme">5-4 下拉菜单（菜单标题）                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2920" class="programme">5-5 下拉菜单（对齐方式）                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2952" class="programme">5-6 下拉菜单（菜单项状态）                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2953" class="programme">5-7 按钮（按钮组）                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2965" class="programme">5-8 按钮（按钮工具栏）                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2980" class="programme">5-9 按钮（嵌套分组）                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2986" class="programme">5-10 按钮（垂直分组）                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/2987" class="programme">5-11 按钮（等分按钮）                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3023" class="programme">5-12 按钮下拉菜单                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3026" class="programme">5-13 按钮的向下向上三角形                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3028" class="programme">5-14 向上弹起的下拉菜单                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3031" class="programme">5-15 导航（基础样式）                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3032" class="programme">5-16 导航（标签形tab导航）                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3034" class="programme">5-17 导航（胶囊形(pills)导航）                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3036" class="programme">5-18 导航（垂直堆叠的导航）                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3039" class="programme">5-19 自适应导航（使用）                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3040" class="programme">5-20 自适应导航（实现原理）                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3042" class="programme">5-21 导航加下拉菜单（二级导航）                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3183" class="programme">5-22 面包屑式导航                                <i class="hasStudy"></i>                            </a>
                        </li>
                    </ul>
                </div>
                <div class="learnchapter  learnchapter-active ">
                    <h3>
                        <span>-</span>
                        <strong><i class="hasOpenOn"></i>第6章 导航条、分页导航</strong>
                    </h3>

                    <ul class="video">

                        <li>
                            <a target="_blank" href="/code/3110" class="programme">6-1 导航条基础                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3111" class="programme">6-2 基础导航条                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3120" class="programme">6-3 为导航条添加标题、二级菜单及状态                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3121" class="programme">6-4 带表单的导航条                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3122" class="programme">6-5 导航条中的按钮、文本和链接                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3123" class="programme">6-6 固定导航条                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3124" class="programme">6-7 响应式导航条                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3182" class="programme">6-8 反色导航条                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3185" class="programme">6-9 分页导航（带页码的分页导航）                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3186" class="programme">6-10 分页导航（翻页分页导航）                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3187" class="programme">6-11 标签                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3190" class="programme">6-12 徽章                                <i class="hasStudy"></i>                            </a>
                        </li>
                    </ul>
                </div>
                <div class="learnchapter  learnchapter-active ">
                    <h3>
                        <span>-</span>
                        <strong><i class="hasOpenOn"></i>第7章 其它内置组件</strong>
                    </h3>

                    <ul class="video">

                        <li>
                            <a target="_blank" href="/code/3777" class="programme">7-1 缩略图（一）                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3780" class="programme">7-2 缩略图（二）                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3782" class="programme">7-3 警示框                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3783" class="programme">7-4 警示框--默认警示框                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3786" class="programme">7-5 警示框--可关闭的警示框                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3788" class="programme">7-6 警示框--警示框的链接                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3790" class="programme">7-7 进度条                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3791" class="programme">7-8 进度条--基本样式                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3793" class="programme">
                                7-9 进度条--彩色进度条                                <i class="doStudy"></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3800" class="programme">
                                7-10 进度条--条纹进度条                                <i></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3809" class="programme">
                                7-11 进度条--动态条纹进度条                                <i></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3813" class="programme">
                                7-12 进度条--层叠进度条                                <i></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3814" class="programme">
                                7-13 进度条--带Label的进度条                                <i></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3815" class="programme">
                                7-14 媒体对象                                <i></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3816" class="programme">
                                7-15 媒体对象--默认媒体对象                                <i></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3817" class="programme">
                                7-16 媒体对象--媒体对象的嵌套                                <i></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3818" class="programme">
                                7-17 媒体对象--媒体对象列表                                <i></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3819" class="programme">
                                7-18 列表组                                <i></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3821" class="programme">
                                7-19 列表组--基础列表组                                <i></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3822" class="programme">
                                7-20 列表组--带徽章的列表组                                <i></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3823" class="programme">
                                7-21 列表组--带链接的列表组                                <i></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3825" class="programme">
                                7-22 列表组--自定义列表组                                <i></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3826" class="programme">
                                7-23 列表组--列表项的状态设置                                <i></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3827" class="programme">
                                7-24 列表组--多彩列表组                                <i></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3828" class="programme">
                                7-25 面板                                <i></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3829" class="programme">
                                7-26 面板--基础面板                                <i></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3830" class="programme">
                                7-27 面板--带有头和尾的面板                                <i></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3834" class="programme">7-28 面板--彩色面板                                <i class="hasStudy"></i>                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3835" class="programme">
                                7-29 面板--面板中嵌套表格                                <i class="doStudy"></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3838" class="programme">
                                7-30 面板--面板中嵌套列表组                                <i></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="learnchapter  learnchapter-active ">
                    <h3>
                        <span>-</span>
                        <strong><i class="hasOpenOn"></i>第8章 Bootstrap支持的JavaScript插件(1)</strong>
                    </h3>

                    <ul class="video">

                        <li>
                            <a target="_blank" href="/code/3851" class="programme">
                                8-1 导入JavaScript插件                                <i></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3852" class="programme">
                                8-2 动画过渡（Transitions）                                <i class="doStudy"></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3854" class="programme">
                                8-3 模态弹出框（Modals）                                <i class="doStudy"></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3855" class="programme">
                                8-4 模态弹出框--结构分析                                <i class="doStudy"></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/4486" class="programme">
                                8-5 模态弹出框--实现原理解析（一）                                <i class="doStudy"></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/4485" class="programme">
                                8-6 模态弹出框--实现原理解析（二）                                <i class="doStudy"></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3859" class="programme">
                                8-7 模态弹出框--触发模态弹出窗2种方法                                <i class="doStudy"></i>
                            </a>
                        </li>

                        <li>
                            <em class="laststudy">最近学习</em>                                                    <a target="_blank" href="/code/4513" class="programme">
                                8-8 模态弹出框--为弹出框增加过度动画效果                                <i class="doStudy"></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3863" class="programme">
                                8-9 模态弹出框--模态弹出窗的使用（data-参数说明）                                <i></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3866" class="programme">
                                8-10 模态弹出框--模态弹出窗的使用（JavaScript触发）                                <i></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3868" class="programme">
                                8-11 模态弹出框--JavaScript触发时的参数设置（一）                                <i class="doStudy"></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="/code/3869" class="programme">
                                8-12 模态弹出框--JavaScript触发时的参数设置（二）                                <i></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar" style="display:none;">
        
    </div>
    <br class="clear">
</div>
